@import "canvas";
@import "toolBar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.App {
  background-color: #E5E5E5;
  height: 100vh;
}